# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env files
.env
backend/.env
frontend/.env
reports/.env

# logs
*.log
monitor-saude-nodes/deploy_logs/

# OS files
.DS_Store
monitor-saude-nodes/revisao.txt
